{% extends 'layout.html' %} 

{% block title %}
<title>404 - Page Not Found</title>
{% endblock %} 

{% block content %}
<div class="container-fluid mt-5">
	<!-- 404 Error Text -->
	<div class="text-center">
		<div class="h1 error mx-auto display-4" data-text="404">404</div>
		<p class="h2 lead text-gray-800 mb-4">Page Not Found</p>
		<p class="h3 text-gray-500 mb-2">In the mean time, enjoy this video!</p>
	  <div class="mb-2">
    <a href="/">← Back to Home</a>
    </div>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
{% endblock %}