{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hack Club SCHS!</h1>
            <p>Hello, and welcome to our Summer Creek High School Hack Club Website. Hack Club is a global network of programming clubs
                where members learn to code through tinkering and building projects. This website was built by the Summer Creek High School
                Hack Club Team. You can learn to build your own website like this by coming to Hack Club! No experience is required and we also
                provide laptops. Hack Club will allow you to become immersive and explore the wonders of programming and how it works.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>sample text here</h2>
                <p>i dont know what to put here this is tbd</p>
            </div>
            <div class="col-md-4">
                <h2>sample text here</h2>
                <p>i dont know what to put here this is tbd</p>
            </div>
            <div class="col-md-4">
                <h2>sample text here</h2>
                <p>i dont know what to put here this is tbd</p>
            </div>
        </div>

    </div>

{% endblock content %}