{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hack Club</h1>
            <h2 class="text-muted">Summer Creek High School</h2>
            <p class="lead">Hack Club is a global network of programming clubs
                where members learn to code through tinkering and building projects.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>What can Hack Club do for me?</h2>
                <p>Hack Club will allow you to become immersive and explore the wonders of programming and how it works.</p>
            </div>
            <div class="col-md-4">
                <h2>Who built this website?</h2>
                <p>This website was built by the Summer Creek High School
                Hack Club Team. You can learn to build your own website like this by coming to Hack Club!</p>
            </div>
            <div class="col-md-4">
                <h2>Do I need any experience to join?</h2>
                <p>You don't need any experience to join! We also provide laptops.</p>
            </div>
        </div>

        <hr/>

        <!-- Featured project section -->
        <div class="row">
          <h2 class="mt-3 mb-4"><a id="projects"></a>Featured Projects</h2>
          <div class="card-columns">
            <div class="card bg-primary">
              <img src="/static/images/byteCode.png" class="card-img-top p-4" alt="byteCode logo">
              <div class="card-body text-white">
                <h4 class="card-title">byteCode</h4>
                <p class="card-text">Explore the wonderful world of programming through our very own YouTube channel! New videos released often!</p>
                <!-- SUBSCRIBE Button -->
                <script src="https://apis.google.com/js/platform.js"></script>

                <div class="g-ytsubscribe" data-channelid="UCHeRnkORi2B3G4kbSyhBtqA" data-layout="default" data-count="default"></div>
              </div>

            </div>
            <div class="card bg-secondary">
              <img src="/static/images/lightbulb-192.png" class="card-img-top p-4" alt="byteCode logo">
              <div class="card-body text-white">
                <h4 class="card-title">Lightbulb Education: Code</h4>
                <p class="card-text font-weight-bold">Learn how to code by doing.</p>
                <p class="card-text"> We know that simply reading textbooks isn't the way to learn coding. It's boring and you make slow progress.
                </p>
                <p class="card-text">
                That's why we give you lots of projects, sorted by skill level. Take advantage of our curated project tutorials to supercharge your learning.</p>
                <a target="_blank" class="btn btn-primary" href="https://code.lightbulb.education">See it!</a>
              </div>
            </div>

            <div class="card bg-primary">
              <div class="card-body text-white">
                <h4 class="card-title">This website!</h4>
                <p class="card-text">Maintaining a website isn't easy, we're always looking to add new content and fix bugs on our website.
                </p>
                <p class="card-text">
                That's where you come in! You can help contribute to this site on GitHub!</p>
                <a target="_blank" class="btn btn-secondary" href="https://github.com/NullDude05/HackClubSCHS">Contribute on GitHub</a>
              </div>
            </div>

            <div class="card p-3">
              <blockquote class="blockquote mb-0 card-body">
                <p>ignore this</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card bg-primary text-white text-center p-3">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer class="blockquote-footer text-white">
                  <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
            </div>
            <div class="card p-3 text-right">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}